node_modules/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.next/
out/

projects/**
!projects/.gitkeep

coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db

tsconfig.tsbuildinfo
